version: "3.9"

services:
  n8n:
    image: n8nio/n8n:latest
    container_name: hack-n8n
    ports:
      - "5678:5678"
    environment:
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=${N8N_USER}
      - N8N_BASIC_AUTH_PASSWORD=${N8N_PASSWORD}
      - N8N_HOST=0.0.0.0
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - NODE_ENV=production
    volumes:
      - ./n8n-data:/home/node/.n8n
      - ./n8n-logs:/var/log/n8n
    env_file:
      - .env
